# vim: set ft=caddy:
{
	email admin@guirao.net
	admin :2019
	metrics {
		per_host
	}
	log {
		output stdout
	}
}

(private) {
  tls /data/letsencrypt/live/guirao.net/fullchain.pem /data/letsencrypt/live/guirao.net/privkey.pem

  @allowed remote_ip 192.168.178.0/24 fd47:410:a83::/64 100.64.0.0/10

  handle @allowed {
      reverse_proxy {args[0]}
  }

  handle {
      respond "Forbidden" 403
  }
}

pihole.guirao.net {
  import private 127.0.0.1:8080
}

coder.guirao.net {
  import private 127.0.0.1:7080
}
