[Unit]
Description=Dawarich backup job
Wants=network-online.target
After=network-online.target
OnFailure=backup-failure-notify@%n.service

[Service]
Type=oneshot
ExecStart=/usr/bin/bash %h/.local/bin/dawarich-backup.sh
