[Unit]
Description=Paperless backup job
Wants=network-online.target
After=network-online.target
OnFailure=backup-failure-notify@%n.service

[Service]
Type=oneshot
IOSchedulingClass=idle
ExecStart=/usr/bin/bash %h/.local/bin/paperless-backup.sh