# vim: ft=systemd

[Unit]
Description=PostgreSQL

[Container]
Pod=paperless.pod
ContainerName=postgres
Image=docker.io/library/postgres:18
Environment=POSTGRES_INITDB_ARGS=--data-checksums
Volume=%S/paperless/postgres:/var/lib/postgresql:Z
HealthCmd=pg_isready -U paperless -d paperless
HealthStartPeriod=5m
HealthInterval=30s
HealthTimeout=5s
HealthRetries=5
Notify=healthy
Label="io.containers.autoupdate=registry"

[Service]
Restart=always
