[Unit]
Description=Dawarich backup job
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bash %h/.config/containers/systemd/dawarich/backup.sh
