# vim: set ft=systemd:

[Unit]
Description=FTL backup
DefaultDependencies=no
Before=shutdown.target

[Service]
Type=oneshot
User=ubuntu
Group=ubuntu
ExecStart=/etc/pihole/backup

[Install]
WantedBy=halt.target reboot.target shutdown.target
