# vim: ft=systemd

[Unit]
Description=Immich
Requires=valkey.service pgvector.service
After=valkey.service pgvector.service

[Container]
Pod=immich.pod
ContainerName=immich
Image=ghcr.io/immich-app/immich-server:release
EnvironmentFile=/data/immich/env
Environment=REDIS_HOSTNAME=valkey
Environment=DB_HOSTNAME=pgvector
Environment=UPLOAD_LOCATION=/data/immich/library
Environment=TZ=Europe/Berlin
Volume=/data/immich:/usr/src/app/upload
Volume=/etc/localtime:/etc/localtime:ro
HealthCmd=["/bin/bash", "immich-healthcheck"]
HealthStartPeriod=3m
HealthInterval=10s
HealthTimeout=30s
HealthRetries=10
Notify=healthy
Label="io.containers.autoupdate=registry"

[Service]
Restart=always

[Install]
WantedBy=default.target
