# vim: ft=systemd

[Unit]
Description=Immich ML
After=immich.service

[Container]
Pod=immich.pod
ContainerName=immich-ml
Image=ghcr.io/immich-app/immich-machine-learning:release
EnvironmentFile=/data/immich/env
Volume=immich:/cache
Volume=/etc/localtime:/etc/localtime:ro
Label="io.containers.autoupdate=registry"

[Service]
Restart=always

[Install]
WantedBy=multi-user.target

