# vim: ft=systemd

[Unit]
Description=Redis

[Container]
Pod=dawarich.pod
ContainerName=redis
Image=docker.io/redis:7.4-alpine
Exec=redis-server --save 900 1 --save 300 10 --appendonly no
HealthCmd="/usr/local/bin/redis-cli --raw incr ping"
HealthStartPeriod=30s
HealthInterval=10s
HealthTimeout=5s
HealthRetries=5
Notify=healthy
Volume=redis:/data
Label="io.containers.autoupdate=registry"

[Service]
Restart=always
