# vim: ft=systemd

[Unit]
Description=Podcast service

[Container]
ContainerName=audiobookshelf
Image=ghcr.io/advplyr/audiobookshelf:latest
Volume=%S/audiobookshelf/metadata:/metadata:Z
Volume=%S/audiobookshelf/config:/config:Z
PublishPort=4444:80
Label="io.containers.autoupdate=registry"

[Service]
Restart=always

[Install]
WantedBy=default.target
