{
	email admin@guirao.net
	metrics {
		per_host
	}
}

photos.guirao.net {
	reverse_proxy immich:2283
	log {
		output file /var/log/caddy/photos.log
	}
}

docs.guirao.net {
	reverse_proxy office:8000
	log {
		output file /var/log/caddy/docs.log
	}
}
