{
	email admin@guirao.net
  admin :2019
	metrics {
		per_host
	}
	log {
		output file /var/log/caddy/server.log
	}
}

photos.guirao.net {
	reverse_proxy immich:2283
	log {
		format transform "{common_log}"
		output file /var/log/caddy/photos.log
	}
}

calendar.guirao.net {
	reverse_proxy radicale:5232
	log {
		format transform "{common_log}"
		output file /var/log/caddy/calendar.log
	}
}
