# vim: ft=systemd

[Unit]
Description=Caddy

[Container]
ContainerName=caddy
Exec=/usr/bin/caddy run --config /etc/caddy/Caddyfile
Image=docker.io/caddy:latest
Network=host
Notify=true
Volume=%h/.config/containers/systemd/caddy/Caddyfile:/etc/caddy/Caddyfile:Z
Volume=/data/caddy:/data/caddy
Environment=TZ=Europe/Berlin
Label="io.containers.autoupdate=registry"

[Service]
ExecReload=podman exec caddy /usr/bin/caddy reload --config /etc/caddy/Caddyfile --address unix//run/admin.sock --force

[Install]
WantedBy=default.target
