# vim: ft=systemd

[Unit]
Description=Worker
Requires=redis.service postgis.service

[Container]
Pod=dawarich.pod
ContainerName=sidekiq
Image=docker.io/freikin/dawarich:latest
Entrypoint=sidekiq-entrypoint.sh
Exec=bundle exec sidekiq
UserNS=keep-id:uid=1000,gid=1000
EnvironmentFile=/data/dawarich/env
Environment=RAILS_ENV=production
Environment=DATABASE_HOST=postgis
Environment=DATABASE_PORT=5432
Environment=DATABASE_USERNAME=dawarich
Environment=DATABASE_NAME=dawarich
Environment=APPLICATION_HOSTS=maps.guirao.net
Environment=BACKGROUND_PROCESSING_CONCURRENCY=10
Environment=APPLICATION_PROTOCOL=http
Environment=PROMETHEUS_EXPORTER_ENABLED=false
Environment=PROMETHEUS_EXPORTER_HOST=dawarich
Environment=PROMETHEUS_EXPORTER_PORT=9394
Environment=RAILS_LOG_TO_STDOUT=true
Environment=SELF_HOSTED=true
Environment=STORE_GEODATA=true
Volume=/data/dawarich/public:/var/app/public:Z
Volume=/data/dawarich/watched:/var/app/tmp/imports/watched:Z
Volume=/data/dawarich/storage:/var/app/storage:Z
HealthCmd=pgrep -f sidekiq
HealthInterval=10s
HealthRetries=30
HealthStartPeriod=30s
HealthTimeout=10s

[Service]
Restart=always

[Install]
WantedBy=default.target
