# vim: ft=systemd

[Unit]
Description=Pi-hole DNS server

[Container]
ContainerName=pihole
Image=docker.io/pihole/pihole:latest
Volume=%S/pihole:/etc/pihole:Z
Environment=FTLCONF_webserver_port=80
PublishPort=127.0.0.1:8080:80/tcp
PublishPort=192.168.178.10:53:53/udp
PublishPort=192.168.178.10:53:53/tcp
PublishPort=100.100.200.200:53:53/udp
PublishPort=100.100.200.200:53:53/tcp
PublishPort=[fd47:410:a83::10]:53:53/udp
PublishPort=[fd47:410:a83::10]:53:53/tcp
Environment=TZ=Europe/Berlin
Environment=FTLCONF_webserver_api_password=
Environment=FTLCONF_database_maxDBdays=3650
Environment=FTLCONF_dns_domainNeeded=true
Environment=FTLCONF_dns_listeningMode=all
Environment=FTLCONF_ntp_ipv4_active=false
Environment=FTLCONF_ntp_ipv6_active=false
Environment=FTLCONF_ntp_sync_active=false
Environment=FTLCONF_webserver_domain=pihole.guirao.net
Environment=FTLCONF_dns_revServers=true,192.168.178.0/24,192.168.178.1,fritz.box
Environment="FTLCONF_dns_hosts=192.168.178.10 docs.guirao.net;192.168.178.10 maps.guirao.net;192.168.178.10 files.guirao.net;192.168.178.10 airtrail.guirao.net;192.168.178.10 academy.guirao.net;"
Label="io.containers.autoupdate=registry"
HostName=pi-hole

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
