[config]
local-keys = [
  "!server.allowed-ip.*",
  "!server.blocked-ip.*",
  "acme.*",
  "auth.dkim.sign",
  "authentication.fallback-admin.user",
  "certificate.*",
  "cluster.*",
  "config.local-keys.*",
  "directory.*",
  "metrics.*",
  "server.*",
  "storage.blob",
  "storage.data",
  "storage.directory",
  "storage.fts",
  "storage.lookup",
  "store.*",
  "tracer.console.*",
  "tracer.log.*",
]

[authentication.fallback-admin]
user = "admin"

[server]
hostname = "mail.guirao.net"

[server.auto-ban]
abuse.rate = "5/1h"
auth.rate = "5/1h"
loiter.rate = "15/1d"
scan.rate = "5/1d"

[server.listener.smtp]
bind = ["[::]:25"]
protocol = "smtp"

[server.listener.submissions]
bind = ["[::]:465"]
protocol = "smtp"
tls.implicit = true

[server.listener.imaptls]
bind = ["[::]:993"]
protocol = "imap"
tls.implicit = true

[server.listener.http]
protocol = "http"
bind = ["[::]:8080"]
proxy.trusted-networks = ["10.10.10.0/26"]

[queue.strategy]
route = [
  { if = "is_local_domain('', rcpt_domain)", then = "'local'" },
  { else = "'relay'" },
]

[queue.route.relay]
type = "relay"
description = "SES"
address = "email-smtp.eu-central-1.amazonaws.com"
port = 465
protocol = "smtp"
auth.username = "%{env:SMTP_USERNAME}%"
auth.secret = "%{env:SMTP_PASSWORD}%"
tls.implicit = true
tls.allow-invalid-certs = false

[auth.dkim]
sign = [
  { if = "is_local_domain('*', sender_domain)", then = "'ed25519' + sender_domain" },
  { else = false },
]

[storage]
data = "rocksdb"
fts = "rocksdb"
blob = "s3"
lookup = "rocksdb"
directory = "internal"

[store.rocksdb]
type = "rocksdb"
path = "/opt/stalwart/data"
compression = "lz4"

[store.s3]
type = "s3"
bucket = "minube-mail"
endpoint = "s3.dualstack.eu-central-1.amazonaws.com"
region = "eu-central-1"
access-key = "%{env:AWS_ACCESS_KEY_ID}%"
secret-key = "%{env:AWS_ACCESS_KEY_SECRET}%"

[directory.internal]
type = "internal"
store = "rocksdb"

[acme.letsencrypt]
directory = "https://acme-v02.api.letsencrypt.org/directory"
challenge = "http-01"
contact = ["admin@guirao.net"]
domains = ["mail.guirao.net"]
cache = "%{BASE_PATH}%/data/acme"
renew-before = "30d"

[metrics.prometheus]
enable = true
auth.username = "alloy"
auth.secret = "%{env:METRICS_SECRET}%"

[tracer.log]
enable = false

[tracer.console]
type = "console"
level = "debug"
ansi = true
enable = true
