# vim: ft=systemd

[Unit]
Description=Stalwart

[Container]
ContainerName=stalwart
Image=docker.io/stalwartlabs/stalwart:latest
Network=host
Volume=%h/.config/containers/systemd/stalwart/config.json:/etc/stalwart/config.json:Z
Volume=/data/stalwart/data:/var/lib/stalwart:Z
Volume=/data/stalwart/logs:/var/log/stalwart:Z
UserNS=keep-id:uid=2000,gid=2000
EnvironmentFile=/data/stalwart/env
Label="io.containers.autoupdate=registry"

[Service]
Restart=always

[Install]
WantedBy=default.target
