# vim: ft=systemd

[Unit]
Description=Stalwart

[Container]
ContainerName=stalwart
Image=docker.io/stalwartlabs/stalwart:latest
Network=stalwart.network
Volume=%E/%N/config.toml:/opt/stalwart/etc/config.toml:Z
Volume=/data/stalwart/data:/opt/stalwart/data:Z
PublishPort=25:25
PublishPort=110:110
PublishPort=465:465
PublishPort=993:993
PublishPort=8080:8080
EnvironmentFile=/data/stalwart/env
Label="io.containers.autoupdate=registry"

[Service]
Restart=always

[Install]
WantedBy=default.target
