# vim: ft=systemd

[Unit]
Description=Stalwart

[Container]
ContainerName=stalwart
Image=docker.io/stalwartlabs/stalwart:latest
Network=caddy.network
Volume=%h/.config/containers/systemd/stalwart/config.toml:/etc/caddy/Caddyfile:Z
Volume=/data/stalwart/data:/opt/stalwart/data:Z
PublishPort=25:25
PublishPort=110:110
PublishPort=465:465
PublishPort=993:993
EnvironmentFile=/data/stalwart/env
Label="io.containers.autoupdate=registry"

[Service]
Restart=always

[Install]
WantedBy=default.target
