# vim: ft=systemd

[Unit]
Description=Bulwark email

[Container]
ContainerName=bulwark
Image=ghcr.io/bulwarkmail/webmail:latest
Environment=JMAP_SERVER_URL=https://mail.guirao.net
EnvironmentFile=%E/bulwark/env
UserNS=keep-id:uid=1001,gid=65533
Volume=%S/bulwark/data:/app/data:Z
PublishPort=3333:3000
Label="io.containers.autoupdate=registry"

[Service]
Restart=always

[Install]
WantedBy=default.target
