# vim: ft=systemd

[Unit]
Description=Alloy
After=network-online.target pihole.service

[Container]
ContainerName=alloy
Image=docker.io/grafana/alloy:latest
Network=public.network
Network=private.network
EnvironmentFile=/data/alloy/env
Volume=/:/host:ro
Volume=/var/log:/var/log:ro
Volume=/opt/alloy:/etc/alloy:ro,Z
Volume=/var/lib/alloy:/var/lib/alloy:Z
HostName=%H
PublishPort=12345:12345
Label="io.containers.autoupdate=registry"
Exec=run --server.http.listen-addr=0.0.0.0:12345 /etc/alloy/config.alloy

[Service]
ExecStartPre=mkdir -p /var/lib/alloy
Restart=always

[Install]
WantedBy=multi-user.target
