# vim: ft=systemd

[Unit]
Description=Caddy

[Container]
ContainerName=caddy
Exec=/usr/bin/caddy run --config /etc/caddy/Caddyfile
Image=public.ecr.aws/z8e7t6h2/caddy:latest
Network=public.network
Notify=true
Volume=/opt/caddy:/etc/caddy:Z
Volume=/data/caddy:/data/caddy
Volume=/var/log/caddy:/var/log/caddy:Z
PublishPort=0.0.0.0:80:80
PublishPort=[::]:80:80
PublishPort=0.0.0.0:443:443
PublishPort=[::]:443:443
PublishPort=0.0.0.0:443:443/udp
PublishPort=[::]:443:443/udp
Environment=TZ=Europe/Berlin
Label="io.containers.autoupdate=registry"

[Service]
ExecStartPre=mkdir -p /var/log/caddy
ExecReload=podman exec caddy /usr/bin/caddy reload --config /etc/caddy/Caddyfile --address unix//run/admin.sock --force

[Install]
WantedBy=multi-user.target
