# vim: ft=systemd

[Unit]
Description=Dawarich
Wants=valkey.service postgis.service
After=valkey.service postgis.service
BindsTo=postgis.service

[Container]
ContainerName=dawarich
Image=docker.io/freikin/dawarich:latest
Network=public.network
IP=10.100.1.15
Entrypoint=web-entrypoint.sh
Exec=bin/rails server -p 3000 -b ::
EnvironmentFile=/data/dawarich/env
Environment=RAILS_ENV=production
Environment=REDIS_URL=redis://valkey:6379
Environment=RAILS_CACHE_DB=3
Environment=RAILS_JOB_QUEUE_DB=4
Environment=RAILS_WS_DB=5
Environment=DATABASE_HOST=postgis
Environment=DATABASE_PORT=5432
Environment=DATABASE_USERNAME=dawarich
Environment=DATABASE_NAME=dawarich
Environment=MIN_MINUTES_SPENT_IN_CITY=60
Environment=APPLICATION_HOSTS=maps.guirao.net
Environment=TIME_ZONE=Europe/Berlin
Environment=APPLICATION_PROTOCOL=http
Environment=PROMETHEUS_EXPORTER_ENABLED=false
Environment=PROMETHEUS_EXPORTER_HOST=0.0.0.0
Environment=PROMETHEUS_EXPORTER_PORT=9394
Environment=RAILS_LOG_TO_STDOUT=true
Environment=SELF_HOSTED=true
Environment=STORE_GEODATA=true
Volume=/data/dawarich/public:/var/app/public:Z
Volume=/data/dawarich/watched:/var/app/tmp/imports/watched:Z
Volume=/data/dawarich/storage:/var/app/storage:Z
Volume=/data/dawarich/db:/dawarich_db_data
HealthCmd=curl -f http://127.0.0.1:3000/api/v1/health
HealthStartPeriod=30s
HealthInterval=10s
HealthTimeout=10s
HealthRetries=30
Label="io.containers.autoupdate=registry"

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
