# vim: ft=systemd

[Unit]
Description=PostGIS for Dawarich
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=postgis
Image=docker.io/postgis/postgis:17-3.5-alpine
Network=public.network
IP=10.100.1.14
Volume=/data/dawarich/db:/var/lib/postgresql/data:Z
EnvironmentFile=/data/dawarich/env
Environment=POSTGRES_USER=dawarich
Environment=POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
Environment=POSTGRES_DB=dawarich
ShmSize=1g
HealthCmd=pg_isready -U dawarich
HealthStartPeriod=5s
HealthInterval=10s
HealthTimeout=10s
HealthRetries=5
Label="io.containers.autoupdate=registry"

[Service]
Restart=always

[Install]
WantedBy=multi-user.target

