# vim: ft=systemd

[Unit]
Description=PostgreSQL exporter
Wants=postgres.service
After=postgres.service

[Container]
ContainerName=postgres-exporter
Image=quay.io/prometheuscommunity/postgres-exporter
Network=public.network
IP=10.100.1.12
Environment=DATA_SOURCE_URI="postgres:5432/postgres?sslmode=disable"
Environment=DATA_SOURCE_USER=postgres
EnvironmentFile=/data/postgres-exporter/env
Label="io.containers.autoupdate=registry"

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
