# vim: ft=systemd

[Unit]
Description=PostgreSQL

[Container]
ContainerName=postgres
Image=ghcr.io/immich-app/postgres:14-vectorchord0.4.1-pgvectors0.2.0
Network=public.network
Environment=POSTGRES_INITDB_ARGS=--data-checksums
Volume=/opt/immich/postgres-healthcheck.sh:/health.sh:z
Volume=/data/postgres:/var/lib/postgresql/data
HealthCmd="pg_isready -q || exit 1"
HealthStartPeriod=5m
HealthInterval=30s
HealthTimeout=5s
HealthRetries=5
Notify=healthy
Label="io.containers.autoupdate=registry"

[Service]
Restart=always
