# vim: ft=systemd

[Unit]
Description=Radicale
After=network-online.target

[Container]
ContainerName=radicale
Image=docker.io/tomsquest/docker-radicale
Volume=/data/radicale:/data:Z
Network=public.network
IP=10.100.1.10
AddCapability=CHOWN
AddCapability=SETUID
AddCapability=SETGID
AddCapability=KILL
PidsLimit=50
# TODO: uncomment with podman 5.5
# Memory=256M
ReadOnly=true
RunInit=true
HealthCmd="curl --fail http://localhost:5232 || exit 1"
HealthInterval=30s
HealthRetries=3
Label="io.containers.autoupdate=registry"

[Install]
WantedBy=multi-user.target
