# vim: ft=systemd

[Unit]
Description=Valkey

[Container]
ContainerName=valkey
Image=docker.io/valkey/valkey:8-bookworm
Network=public.network
IP=10.100.1.5
HealthCmd="/usr/local/bin/redis-cli ping || exit 1"
HealthStartPeriod=30s
HealthInterval=10s
HealthTimeout=5s
HealthRetries=5
Notify=healthy
Volume=/var/opt/valkey:/data:Z
Label="io.containers.autoupdate=registry"

[Service]
Restart=always
ExecStartPre=mkdir -p /var/opt/valkey
